@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-size: x-large;
  color: #ced4da;
  letter-spacing: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
h3 {
  font-size: medium;
  color: #ffb703;
  letter-spacing: 0.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

p {
  font-size: medium;
  color: #adb5bd;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

input {
  background-color: transparent;
  border: #8ecae6 2px solid;
}
